<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Waitstaff Calculator</title>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<!-- angular controller defined -->
<body ng-controller="costController">

<header>
	<h1> Waitstaff Calculator </h1>
</header>

<div class="container"> 

<!-- where bill and tip will go -->
	<section class="input">
	<p class="title"> Enter the meal Details</p>
	<form  name="myForm" novalidate ng-submit="submit()"> 
		<table class="mealCost"> 
			
			<!-- descriptions -->
			<tr> 
				<td> Base Meal Price: </td>
				<td><input type="number" name="price" ng-model="user.mealPrice" required></td>
			</tr>
			<!-- waiter puts in the info -->
			<tr> 
				<td> Tax Rate: % </td>
				<td><input type="number" step="0.01" name="tax" ng-model="user.mealTax" required></td>

			</tr>

			<tr> 
				<td> Tip Percentage: % </td>
				<td><input type="number"  name="tip" step="0.01" ng-model="user.tipPercent" required></td>

			</tr>

		</table>

		<p class="userResponse"> 
		<input type="submit" value="Submit" > 
		<!-- <input id="cancel" type="submit" value="Cancel" ng-submit="cancel(original)"> -->
		<button ng-click="cancel()">Start Over</button>
		</p>

	</form>
		
	</section>

	<!-- where calculations will go  mealPrice mealTax tipPercent -->

	<section class="overall output">

		<div class="overall Charges">
			<h1 class="title">  Customer Charges</h1>

			<table>
				<tr> 
				<!-- add base meal price + (base meal price * tax rate) -->
					<td> Subtotal: </td>
					<td>  <span ng-if="myForm.$submitted">{{subtotal() | currency}} </span>

					</td>
				</tr>
				<tr> 
				<!-- subtotal * tax rate -->
					<td> Tip: </td>
					<td> <span ng-if="myForm.$submitted">{{tip() | currency}} </span></td>

				</tr>

				<tr> 
				<!-- total = tip + subtotal -->
					<td> Total  </td>
					<td><span ng-if="myForm.$submitted">{{total() | currency}} </span></td>

				</tr>
			</table>

		</div>

		<div class=" overall earnings ">
			<h1 class="title">My Earnings Info </h1>
			<table>
				<tr> 
					<td> Tip Total: </td>
					<td> <span>{{tipTotal | currency}} </span></td>
				</tr>
				<tr> 
					<td> Meal Count </td>
					<td> <span>{{mealCount |number}} </span></td>

				</tr>

				<tr> 
					<td> Average Tip Per Meal:  </td>
					<td><span>{{averageTip | currency}} </span></td>

				</tr>
			</table>

		</div>
		
	</section>

	<footer>
		<button class="reset" ng-click="reset()">Reset</button>
		<pre>{{myForm |json}} </pre>
	</footer>
</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>	
  	<script src="main.js"></script>

</body>
</html>
